<h2 {% if site.style == 'dark' %}class="text-white"{% endif %}>About</h2>
<p class="f4 mb-4 {% if site.style == 'dark' %}text-white{% else %}text-gray{% endif %}">
    I am highly motivated software professional with strong analytical skills and a drive to succeed.
     Able to solve problems quickly while keeping focus on detail in order to achieve efficient results.
     I build things for the web, and my passion for programming has started back in 2011 when 
     I have built my own gaming forum. 
     Since then I worked on following my dream to become a software engineer and I continue to expand my
     knowledge and build great projects.
</p>
<div class="d-sm-flex flex-wrap gutter-condensed mb-4">

</div>
